*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	/* position: relative; */

	display: flex;
	height: 100vh;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(
			to bottom,
			rgba(220, 75, 75, 0.6),
			rgba(71, 17, 17, 0.3)
		),
		url('./img/sunset-over-mountains-BIG.jpg');
	background-size: cover;
}

h1 {
	padding: 20px;
	color: #fff;
	font-size: 4rem;
	margin-bottom: 1em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	/* max-width: 1200px; */
}

.city-browser {
	position: relative;
	display: flex;
	justify-content: center;
	width: 50%;
	margin-bottom: 1em;
}

.warning {
	position: absolute;
	color: rgb(160, 0, 0);
	font-size: 2rem;
	font-weight: 700;
	top: 90px;
	left: 120px;
	/* display: none; */
}

input {
	padding: 20px;
	border: none;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	margin-bottom: 1em;
	font-size: 2rem;
	height: 80px;
	outline: none;
	/* padding-right: 50px; */
}

input::placeholder {
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
}

button {
	width: 10%;
	padding: 20px;
	border: none;
	background-color: transparent;
	border-radius: 20px;
	font-size: 4rem;
	height: 80px;
	cursor: pointer;
	margin-left: -100px;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	color: rgb(133, 5, 5);
	background-color: rgb(240, 240, 240);
}

.main-info {
	display: flex;
	justify-content: space-around;
	width: 80%;
	font-size: 3rem;
	color: #fff;
}

.main-text > p {
	font-size: 2rem;
}

.main-weather {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.weather-icon {
	/* font-size: 3rem; */
	transform: scale(2);
	padding: 1em;
}

/* 
.main-info>* {
	width: 50%;
} */

.current,
.forecast {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 80%;
	height: 250px;
	margin-top: 1em;
	border-radius: 20px;
	font-size: 2.5rem;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 
.current > div,
.forecast > div {
	flex-basis: calc(100% / 6);
	align-items: center;
	overflow: hidden;
	transition: background-color 0.3s;
}

.current > div:hover,
.forecast > div:hover {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
} */

/* 
.forecast > * {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s;
}

.forecast > *:hover {
	background-color: rgba(0, 0, 0, 0.9);
} */

/* 
.current {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
} */

/* .current-weather,
.current-details {
	flex-basis: 50%;
} */

/*********** RWD BREAKPOINTS ************/

/* 
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. 
*/

@media (max-width: 576px) {

	body {
		font-size: 1rem;
		background-image: linear-gradient(
				to bottom,
				rgba(220, 75, 75, 0.6),
				rgba(71, 17, 17, 0.3)
			),
			url('./img/vertical-mountains.jpg');
		background-repeat: no-repeat;
		overflow: hidden;
	}

	h1 {
		font-size: 2.4rem;
		margin-bottom: 0.1em;
	}

	input {
		width: 100%;
		padding: 10px;
		height: 40px;
		margin-left: 50px;

	}

	button {
		height: 40px;
		padding: 10px;
		margin-left: -50px;
	}

	button:hover {
		background-color: transparent;
	}

	.wrapper {
		height: 100%;
		/* max-width: 1200px; */
	}

	.city-browser {
		width: 80%;
		margin-bottom: 0.5em;
		margin-left: -65px;
	}

	button,
	.main-info,
	.current,
	.forecast {
		font-size: 1.7rem;
	}

	input,
	.warning,
	.main-text > p,
	.warning {
		font-size: 1.2rem;
	}

	.weather-icon {
		/* font-size: 3rem; */
		transform: scale(1);
		padding: 0.5em;
	}

	.warning {
		top: 40px;
		left: 60px;
		/* display: none; */
	}
}

@media (max-width: 768px) {

	button,
	input,
	.main-info,
	.current,
	.forecast {
		font-size: 1.6rem;
	}

	.city-browser {
		width: 80%;
	}
}